<h3 mat-dialog-title>Buscar caso</h3>
<mat-dialog-content>
    <mat-stepper linear #stepper>
        <mat-step [stepControl]="formulario">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit(stepper)">
                <ng-template matStepLabel>Formulario</ng-template>
                <div class="pt-3 w-75 m-auto">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correo Eléctronico</mat-label>
                        <input matInput placeholder="Cédula" required placeholder="Correo Eléctronico"
                            formControlName="email" />
                        <mat-error *ngIf="f['email'].hasError('required')">*correo que usaste al crear la consulta</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 pt-2">
                        <mat-label>Código caso</mat-label>
                        <input matInput placeholder="Cédula" required placeholder="Código caso"
                            formControlName="codigo" />
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center gap-2">
                    <button mat-button mat-dialog-close>Cancelar</button>
                    <button mat-button type="submit" [disabled]="formulario.invalid">
                        Buscar
                    </button>
                </div>
            </form>
        </mat-step>

        <mat-step disabled="!casoEncontrado">
            <ng-template matStepLabel>Estado del caso</ng-template>
            <div class="container">
                <h4 class="text-center mb-4">Progreso de su caso</h4>

                @if (casoEncontrado?.estado == 'Cancelado') {
                    <div class="alert alert-danger" role="alert">
                        Lamentamos informarle que ha ocurrido un error en el procesamiento de su caso. Esto puede deberse a:

                        <div class="px-3">
                            - Datos incompletos o incorrectos en el registro.
                            - Problemas tecnicos en nuestro sistema.
                            - Falta de documentacion necesaria.
                        </div>
                        Por favor, intente nuevamente o póngase en contacto con nuestro equipo de soporte para obtener ayuda adicional.
                    </div>
                }@else if (casoEncontrado?.estado == 'Resuelto') {
                    <div class="alert alert-success" role="alert">
                        Hola <b>{{ casoEncontrado?.consulta?.nombreCompleto }}</b>! Nos complace informarte que tu caso ha sido resuelto exitosamente.
                        Si necesitas más información o documentos relacionados, no dudes en ponerte en contacto con nosotros. 
                    </div>
                }@else {
                    <div class="alert alert-info" role="alert">
                        Hola <b>{{ casoEncontrado?.consulta?.nombreCompleto }}</b>, su caso actualmente se encuentra en el
                        estado:
                        <b>{{ casoEncontrado?.estado }}</b>. A continuación, puede observar el progreso detallado.
                    </div>
    
                    <app-stepper *ngIf="casoEncontrado?.estado" [currentState]="casoEncontrado?.estado"></app-stepper>
                }

                <div class="p-2" style="background-color: #f2f8f6">
                    <p class="fw-bold">Contacto</p>
                    <p>
                        Si necesitas más información o tienes alguna duda, no dudes en
                        ponerte en contacto con nosotros.
                    </p>
                    <div class="d-flex align-items-center gap-1 mb-1">
                        <mat-icon>phone</mat-icon>
                        Télefono de soporte: <b>+51 123 456 789</b>
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        <mat-icon>mail</mat-icon>
                        Correo electrónico: <b>{{ "asesoresjns@gmail.com" }}</b>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end pt-1">
                <button mat-button mat-dialog-close>Aceptar</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>