<!-- Blog Start -->
<div class="blog blog-page mt-125">
    <div class="container">
        <div class="section-header">
            <p>Blog de Asesoría Legal</p>
            <h2>Lo último de nuestro blog de asesoría</h2>
        </div>
        <div class="row">
            @for (post of postsList; track post.id) {
                <div class="col-md-6">
                    <div class="blog-item">
                       <div class="blog-img">
                            <img [src]="getImageUrl(post.imagen)" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">{{ post.titulo }}</h2>
                            <div class="blog-meta">
                                <i class="fa fa-list-alt"></i>
                                <a href="">{{ post.categoria }}</a>
                                <i class="fa fa-calendar-alt"></i>
                                <p>{{post.createdAt | date: 'dd-MMMM-yyyy':'':'es'}}</p>
                            </div>
                            <div class="blog-text">
                                <p [innerHTML]="post.resumen">
                                    
                                </p>
                                <a class="btn" [routerLink]="['/blog', post.id]">Leer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            }@empty {
                <div class="w-100 text-center text-secondary pb-5">
                    No hay publicaciones, regresa pronto
                </div>
            }
            
            <!-- <div class="col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="blog-2.jpg" alt="Blog">
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">Actualización en legislación laboral</h2>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="">Categoría</a>
                            <i class="fa fa-calendar-alt"></i>
                            <p>15-Feb-2045</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Mantente informado sobre los cambios recientes en la legislación laboral. En Asesores Legales, te asesoramos para que estés siempre al día y cumpliendo con las normativas vigentes.
                            </p>
                            <a class="btn" href="">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="blog-3.jpg" alt="Blog">
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">Cómo proteger tus activos jurídicos</h2>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="">Categoría</a>
                            <i class="fa fa-calendar-alt"></i>
                            <p>10-Mar-2045</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Aprende cómo proteger tus activos y asegurar tu patrimonio. Asesores Legales te brinda soluciones a medida para que protejas lo que más valoras.
                            </p>
                            <a class="btn" href="">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="blog-4.jpg" alt="Blog">
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">Consejos para pequeñas empresas</h2>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="">Categoría</a>
                            <i class="fa fa-calendar-alt"></i>
                            <p>20-Abr-2045</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Descubre cómo proteger legalmente tu negocio y afrontar los retos legales de una pequeña empresa. Asesores Legales está aquí para apoyarte en cada paso.
                            </p>
                            <a class="btn" href="">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        @if (postsList.length > 0) {
            <div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <button class="page-link" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
                        </li>
                        <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                        <li class="page-item">
                            <button class="page-link" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
                        </li>
                    </ul> 
                </div>
            </div>
        }
        
    </div>
</div>  