mat-card-header{
    color: #000;
}

mat-form-field{
    width: 100%;
}

section{
    background-color: #EEEEEE;
    padding: 2rem 15rem;
}

@media (max-width: 868px){
    section{
        padding: 2rem ;
    }
}