<div class="card mb-1">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <small>{{consulta?.nombreCompleto}}</small>
            <small class="text-secondary">{{consulta?.createdAt | timeAgo }}</small>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <small>Correo electrónico </small>
            <small>{{consulta?.email}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <small>servicio </small>
            <small>{{consulta?.tipoServicio?.nombre}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <small>Estado</small>
            
            @if (consulta?.estado == "pendiente") {
                <small class="text-success">{{consulta?.estado}}</small>
            }@else if (consulta?.estado == "cancelado") {
                <small class="text-danger">{{consulta?.estado}}</small>
            }@else if (consulta?.estado == "revision") {
                <small class="text-warning">{{consulta?.estado}}</small>
            }
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end gap-2">
            @if (role == 'Admin' || role == 'admin') {
                <button class="btn btn-sm btn-danger" (click)="openDialogCancelar(consulta?.id)">
                    Cancelar
                </button>
                <button class="btn btn-sm btn-info" (click)="openDialog(consulta?.id)">
                    ver más
                </button>
            }@else if (role == 'Abogado' || role == 'abogado') {
                <button class="btn btn-sm btn-danger" (click)="openDialogRechazar(consulta?.id)">
                    rechazar
                </button>
                <button class="btn btn-sm btn-info" (click)="openDialogIniciarCaso(consulta?.id)">
                    iniciar proceso
                </button>
            }             
        </div>
    </div>
</div>