<mat-card class="mb-1" appearance="outlined">
    <mat-card-header>
        <div class="d-flex w-100 justify-content-between align-items-center pb-2">
            <small>{{consulta?.nombreCompleto}}</small>
            <small class="text-secondary">{{consulta?.createdAt | timeAgo }}</small>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center">
            <small>Fecha solicitada</small>
            <small [ngStyle]="{ 'color': isDateTimeBeforeToday(consulta?.fechaHora) ? 'red' : 'orange' }">{{consulta?.fechaHora | date: 'dd/MM/yyyy HH:mm a' }}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <small>Correo electrónico </small>
            <small>{{consulta?.email}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <small>servicio </small>
            <small>{{consulta?.servicio?.nombre}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <small>Estado</small>
            
            @if (consulta?.estado == "pendiente") {
                <small class="text-success">{{consulta?.estado}}</small>
            }@else if (consulta?.estado == "cancelado") {
                <small class="text-danger">{{consulta?.estado}}</small>
            }@else if (consulta?.estado == "revision") {
                <small class="text-warning">{{consulta?.estado}}</small>
            }
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <div class="d-flex gap-2">
            @if (role == 'Admin' || role == 'admin') {
                <button mat-button (click)="openDialogCancelar(consulta?.id)"
                [disabled]="isDateTimeBeforeToday(consulta?.fechaHora)">
                    cancelar
                </button>
                <button mat-button (click)="openDialog(consulta?.id)">
                    ver más
                </button>
            }@else if (role == 'Abogado' || role == 'abogado') {
                <button mat-button (click)="openDialogRechazar(consulta?.id)">
                    rechazar
                </button>
                <button mat-button (click)="openDialogIniciarCaso(consulta?.id)">
                    iniciar proceso
                </button>
            }             
        </div>
    </mat-card-actions>
</mat-card>
