<!-- Experiencia Start -->
<div class="experience">
    <div class="container">
        <div class="section-header">
            <h2>Nuestra Experiencia</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="pa">
                    La propiedad intelectual también ha sido una parte fundamental de nuestra práctica, representando a nuestros clientes en procedimientos ante INDECOPI para la protección de marcas y derechos de propiedad intelectual, asegurando que sus innovaciones y creaciones estén debidamente protegidas. A lo largo de estos años, hemos trabajado con compromiso y profesionalismo, lo que nos ha permitido consolidar relaciones de confianza con nuestros clientes y convertirnos en un aliado estratégico en la defensa de sus intereses legales.  
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="experience-image">
                    <img src="expe.jpeg" alt="Nuestra Experiencia" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experience End -->
<div class="support">
    <div class="container">
        <div class="section-header">
            <h2>Soporte Adicional</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="pa">
                    Ofrecemos un soporte adicional continuo a nuestros clientes, asegurando que cada uno reciba la atención y asesoría necesaria para resolver sus inquietudes legales. Nuestro equipo está disponible para brindar asistencia personalizada en cualquier momento.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="partnerships">
    <div class="container">
        <div class="section-header">
            <h2>Nuestras Alianzas</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="pa">
                    Trabajamos en conjunto con una red de aliados estratégicos para ofrecer un servicio integral y
                    multidisciplinario. Estas alianzas nos permiten abordar cada caso con un enfoque más amplio,
                    garantizando resultados óptimos para nuestros clientes.
                </p>
            </div>
        </div>
    </div>
</div>