<div class="w-100">
    <h1 class="fs-5">{{ titulo }}</h1>
    <div class="row">
        @for (c of consultas; track c.id) {
        <div class="col-12 col-lg-6 col-xl-4">
            <app-card-consulta [consulta]="c"></app-card-consulta>
        </div>
        }
    </div>
    @if (consultas.length == 0) {
        <mat-card>
            <mat-card-content>
                <div class="w-100 text-center text-primary">
                    <mat-icon style="font-size: 70px; height: 70px; width: 70px;">gavel</mat-icon>
                </div>
                <p class="text-secondary text-center mb-0">No hay consultas pendientes</p>
                <p class="text-secondary text-center">Puede que tengas casos en proceso por revisar</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="d-flex justify-content-center w-100">
                    <button class="btn btn-primary" routerLink="/workspace/casos">ver casos</button>
                </div>
            </mat-card-actions>
        </mat-card>
        }
</div>