<main>
    <div class="bg-header text-center p-3 text-light">
        <h1 class="fs-4 mb-0">Estado del caso</h1>
    </div>
    <div class="container">
        <div class="card shadow mt-5">
            <div class="card-body py-5">
                <h4 class="text-center mb-4">Progreso de su caso</h4>
                <div class="alert alert-warning" role="alert">
                    Hola <b>{{ caso?.consulta?.nombreCompleto }}</b>, su caso actualmente se encuentra en el estado: <b>{{ caso?.estado}}</b>. A continuación, puede observar el progreso detallado.
                </div>
            
                <div class="p-2" style="background-color: #F2F8F6;">
                    <p class="fw-bold">Contacto</p>
                    <p>Si necesitas más información o tienes alguna duda, no dudes en ponerte en contacto con nosotros.</p>
                    <div class="d-flex align-items-center gap-1 mb-1">
                        <mat-icon>phone</mat-icon>
                        Télefono de soporte: <b>+51 123 456 789</b> 
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        <mat-icon>mail</mat-icon>
                        Correo electrónico: <b>asesoresjns</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

