<mat-toolbar>
    <div class="d-flex container-fluid align-items-center justify-content-between">
        <button mat-icon-button (click)="onToggleSidenav()" *ngIf="isHandset$ | async">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="d-flex align-items-center gap-3" style="margin-left: auto;">
            <!-- <button class="p-1.5 flex items-center justify-center rounded-lg shadow dark:text-white transition duration-150 ease-in-out" (click)="_theme.toggleDarkMode()">
                <mat-icon fontSet="material-icons-outlined">
                    {{ _theme.isDarkModeEnabled ? 'light_mode' : 'dark_mode' }}
                </mat-icon>
            </button> -->

            <button mat-icon-button>
                <mat-icon class="material-icons-outlined" matBadge="0" matBadgeColor="warn">dark_mode</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon class="material-icons-outlined" matBadge="0" matBadgeColor="warn">notifications</mat-icon>
            </button>

            <app-menu-user></app-menu-user>
        </div>
    </div>
</mat-toolbar>