<main class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
    <a routerLink="/" class="d-flex align-items-center text-white text-decoration-none gap-1">
        <img src="logo1.png" alt="img" height="20">
        <span class="fs-6">AsesoresLegales</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column gap-1 mb-auto">
        @for (item of sidebarItems; track $index) {
            <a routerLink="{{item.url}}" class="sidenav-link" routerLinkActive="active-link">
                <mat-icon matListItemIcon class="material-icons-outlined">{{ item.icon }}</mat-icon>
                <span>{{ item.title }}</span>
            </a>
        }
    </ul>
    <a class="sidenav-link" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span>Cerrar Sesión</span>
    </a>
</main>