<div class="short-carousel">
    <div class="carousel-container">
        <div class="carousel-slide">
            <div class="short-img">
                <img src="servicios.jpg" alt="Image">
            </div>
            <div class="carousel-caption">
                <h1 class="color">Descubre nuestros servicios brindados</h1>
            </div>
        </div>
    </div>
</div>


<div class="success-cases-section">
    <div class="container">
        <div class="section-header">
            <p>Casos que hemos venido ganando</p>
            <h2>Casos con Éxito</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="case-card">
                    <div class="case-card-img">
                        <img src="blog-3.jpg" alt="Caso 1">
                    </div>
                    <div class="case-card-body">
                        <h3 class="case-title">Asesoría Legal en la Adquisición de una Empresa</h3>
                        <p class="case-info">
                            Asistimos a una empresa en la adquisición de otra compañía, ofreciendo asesoría legal integral durante todo el proceso.
                        </p>
                        <a class="btn-more-info" href="#"><i class="fa fa-arrow-right"></i> Más Información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="case-card">
                    <div class="case-card-img">
                        <img src="blog-1.jpg" alt="Caso 2">
                    </div>
                    <div class="case-card-body">
                        <h3 class="case-title">Resolución de un Conflicto Laboral Complejo.</h3>
                        <p class="case-info">
                            Representamos a una empleada en un conflicto laboral que implicaba acoso y despido injustificado.
                        </p>
                        <a class="btn-more-info" href="#"><i class="fa fa-arrow-right"></i> Más Información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="case-card">
                    <div class="case-card-img">
                        <img src="blog-2.jpg" alt="Caso 3">
                    </div>
                    <div class="case-card-body">
                        <h3 class="case-title">Asesoría en la Redacción de Contratos Comerciales</h3>
                        <p class="case-info">
                            Ayudamos a una startup a redactar y negociar contratos comerciales clave para el crecimiento de su negocio.
                        </p>
                        <a class="btn-more-info" href="#"><i class="fa fa-arrow-right"></i> Más Información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <p>Servicios de consultoría</p>
            <h2>Nuestros mejores servicios de consultoría</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="fa fa-gavel fa-3x icon-color"></i> <!-- Ícono más grande -->
                    <h3>Derecho laboral</h3>
                    <p>
                        Asesoría en relaciones laborales. Negociación colectiva. Representación en conflictos laborales
                    </p>
                    <a href="DerechoLaboral.html">Leer más</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="fa fa-lightbulb fa-3x icon-color"></i> <!-- Ícono más grande -->
                    <h3>Proceso de Ejecución de Garantías</h3>
                    <p>
                        Nos especializamos en asesorar a los demandados en procesos de ejecución, 
                    </p>
                    <a href="ProcesoejcucionGarantias.html">Leer más</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="fa fa-balance-scale fa-3x icon-color"></i> <!-- Ícono más grande -->
                    <h3>Propiedad Intelectual y Procedimientos ante INDECOPI</h3>
                    <p>
                        Servicios especializados en la protección de marcas.
                    </p>
                    <a href="PropiedadIntelectual.html">Leer más</a>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="fa fa-file-alt fa-3x icon-color"></i> <!-- Ícono más grande -->
                    <h3>Derecho Administrativo</h3>
                    <p>
                        Asesoría en procedimientos administrativos.
                    </p>
                    <a href="Derecho Administrativo.html">Leer más</a>
                </div>
            </div>
            
        </div>
    </div>
</div> 
 
<!-- Service End -->


<!-- Feature Start -->
<div class="clients-section">
    <div class="container">
        <div class="section-header">
            <p>Organizaciones que eligen nuestros servicios legales</p>
            <h2>Nuestros Clientes</h2>
        </div>
        <div class="clients-carousel-container">
            <div class="clients-carousel-slide">
                <img src="cliente1.jpeg" alt="Client 1">
                <img src="cliente3.png" alt="Client 2">
                <img src="cliente2.png" alt="Client 3">
            </div>
        </div>
        
        <div class="clients-carousel-dots">
            <div class="clients-dot active" data-slide="0"></div>
            <div class="clients-dot" data-slide="1"></div>
            <div class="clients-dot" data-slide="2"></div>
        </div>
        
    </div>
</div>