<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Datos</h4>
            <div class=" text-right" style="margin-left: auto;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/workspace/dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Demandas</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Demandas</h5>

                    <div class="mb-3 d-flex gap-2">
                        @if (role == 'Admin') {
                            <a class="btn btn-success btn-sm" (click)="openDialog()">
                                <div class="d-flex align-items-center gap-2">
                                    <mat-icon>add_circle</mat-icon>
                                    Add New
                                </div>
                            </a>
                        }
                        <button class="btn btn-secondary btn-sm">
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon>print</mat-icon>
                                Print Preview
                            </div>
                        </button>
                        <button class="btn btn-info btn-sm">
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon>description</mat-icon>
                                Save CSV
                            </div>
                        </button>    
                    </div>

                    <!-- TABLE -->
                    <div class="">

                        <div class="w-100 p-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por">
                            </mat-form-field>
                        </div>

                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- Definir las columnas de la tabla -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <ng-container matColumnDef="titulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cliente">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.cliente.nombre}} {{element.cliente.apellido}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                                <td mat-cell *matCellDef="let element">                               
                                    <span class="badge bg-primary"> {{element.estado}} </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                                <td mat-cell *matCellDef="let element">                               
                                    @if (role == 'Admin') {
                                        <a mat-button>editar</a>
                                        <a mat-button>delete</a>
                                    }@else if (role == 'Abogado') {
                                        <a mat-button (click)="verDetalles(element.id)">ver detalles</a>
                                    }
                                </td>
                            </ng-container>

                            <!-- Definir las filas de la tabla -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                            showFirstLastButtons></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>