<div class="w-100">
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <small class="mb-0 fw-bold">{{caso?.consulta?.nombreCompleto}}</small>
                    <small class="mb-0">{{caso?.consulta?.email}}</small>          
                </div>
                <small class="text-muted text-sm">{{caso?.createdAt | timeAgo}}</small>
            </div>

            <div class="pt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <small>Servicio</small>
                    <small>{{caso?.consulta?.servicio?.nombre}}</small>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <small>Estado</small>
                    <small>{{caso?.estado}}</small>
                </div>

                @if (role == 'Admin' || role == 'admin') {
                <div class="d-flex justify-content-between align-items-center">
                    <small>Abogado</small>
                    <small>{{ caso?.consulta?.abogado?.nombre }} {{ caso?.consulta?.abogado?.apellido }}</small>   
                </div>
                }
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="d-flex gap-2">
                <button mat-button (click)="openDialogDetalle(caso?.id)">
                    ver más
                </button>
                @if (role == 'Abogado' || role == 'abogado') {
                    <button mat-button (click)="openDialogUpdate(caso?.id)">
                        actualizar estado
                    </button>
                }
                
            </div>
        </mat-card-actions>
    </mat-card>
  
</div>