<div id="contenido">
    <div class="d-flex justify-content-between align-items-center pb-3">
        <span class="fs-4 fw-bold">Dashboard</span>
        <button class="btn btn-dark" (click)="guardarComoImagen()">
            <div class="d-flex gap-2">
                Descargar <mat-icon>download</mat-icon>
            </div>
        </button>
    </div>
    
    <div class="row" >
        <!-- left column -->
        <div class="col-12 col-xl-8">
    
            <div class="statistic-section mb-4">
                @for (card of statsCards; track $index) {
                    <app-statistic-card 
                    title="{{card.label}}" 
                    [number]="card.value" 
                    icon="{{card.icon}}">
                    </app-statistic-card>
                }
            </div>

            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Consultas vs Casos</mat-card-title>
                    <mat-card-subtitle>Consultas y casos registrados en {{currentYear}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    
                    <app-barchart-total-casos></app-barchart-total-casos>
                </mat-card-content>
            </mat-card>
    
            
    
            
        </div>
    
        <!-- rigth column -->
    
        <div class="col-12 col-xl-4 ">
            <div class="row">
                <div class="col-12">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title>Abogados</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-pie-chart-abogados></app-pie-chart-abogados>
                        </mat-card-content>
                    </mat-card>
                </div>
    
                
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12 col-xl-6">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Ultimos abogados</mat-card-title>
                        @if (latestAbogados?.listAbogados.length > 0) {
                            <mat-card-subtitle>Se registraron {{latestAbogados?.countLastMonth}} abogados este mes.</mat-card-subtitle>
                        }
                    </mat-card-header>
                    <mat-card-content>                      
                        @for (item of latestAbogados?.listAbogados; track $index) {
                            <div class="d-flex justify-content-between align-items-center gap-2 my-3">
                                <div class="d-flex align-items-center">
                                    <img src="{{ item.foto || 'https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg'}}"
                                        alt="Avatar" class="rounded-circle" width="32" height="32" />

                                    <div class="ms-2 d-flex flex-column">
                                        <small class="mb-0">{{ item.nombre }}</small>
                                        <small class="mb-0 fw-lighter text-secondary">{{ item.email }}</small>
                                    </div>
                                </div>

                                <div class="d-flex flex-column">
                                    <small>cédula</small>
                                    <span class="fw-medium">{{item.cedula}}</span>
                                </div>
                            </div>
                        }
                        @if (latestAbogados?.listAbogados.length == 0) {
                            <p class="text-center text-secondary pt-2">
                                No se registraron abogados este mes.
                                <a routerLink="/workspace/abogados" class="btn-link">agregar</a>
                            </p>                        
                        }
                    </mat-card-content>
                </mat-card>
            </div>


            <div class="col-12 col-xl-6">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Servicios - Consultas</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-horizontal-barchart></app-horizontal-barchart>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>