<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-img h-100">
            <img src="imagen1.jpg" class="d-block w-100 h-100" alt="..." style="object-fit: cover">
        </div>
        <div class="carousel-caption ">
            <h1>Asistencia jurídica experta y a medida en Perú</h1>
            <p>
                Abogados de Confianza, nos comprometemos a ofrecer servicios legales de la más alta calidad.
            </p>
            <div class="carousel-btn">
                <a class="btn btn-carousel" href="contacto.html">
                    <div class="d-flex align-items-center gap-2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                        Contáctanos
                    </div>
                </a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img h-100">
            <img src="carousel-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-caption ">
            <h1>Tu Éxito, Nuestro Logro</h1>
            <p>
                Nuestro compromiso es garantizar que tus derechos estén protegidos y que recibas el mejor asesoramiento jurídico posible.
            </p>
            <div class="carousel-btn">
                <a class="btn btn-carousel" href="#contact-section">
                    <div class="d-flex align-items-center gap-2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                        Contáctanos
                    </div>
                </a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img h-100">
            <img src="carousel-3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-caption ">
            <h1>Acá encontrarás información que estas buscando</h1>
            <p>
                Confía en nosotros para acompañarte en cada paso del camino
            </p>
            <div class="carousel-btn">
                <a class="btn btn-carousel" href="#contact-section">
                    <div class="d-flex align-items-center gap-2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                        Contáctanos
                    </div>
                </a>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="fact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="icon-4.png" alt="Icon">
                    <h2>Equipo calificado</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="icon-1.png" alt="Icon">
                    <h2>Enfoque individual</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="icon-8.png" alt="Icon">
                    <h2>100% éxito</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="icon-6.png" alt="Icon">
                    <h2>100% Satisfaction</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-img">
                    <div class="about-img-1">
                        <img src="experiencia.webp" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-header">
                    <h2>Nuestra experiencia</h2>
                </div>
                <div class="about-text">
                    <p class="justified-text">
                        Desde nuestra fundación en mayo de 2019, en JNS Asesores Legales hemos construido una sólida trayectoria brindando asesoría legal especializada en diversas áreas del derecho. En estos años de experiencia, nos hemos destacado por ofrecer soluciones jurídicas efectivas y personalizadas a nuestros clientes, siempre con un enfoque estratégico y orientado a resultados.
                    </p>
                    <p class="justified-text">
                        Nuestro equipo de abogados, con amplia formación y especialización, ha gestionado exitosamente casos en áreas clave como el derecho laboral, donde hemos representado tanto a empleadores como a trabajadores en la resolución de conflictos y el cumplimiento normativo. . Además, nos hemos posicionado como referentes en procesos de ejecución de garantías, proporcionando asesoría integral a los demandados para proteger su patrimonio y facilitar el pago de sus deudas mediante negociaciones con entidades financieras.
                    </p>
                    <a routerLink="/experience" class="boton" href="Experiencia.html">Leer mas</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Start -->
<div class="processes">
    <div class="container">
        <div class="section-header">
            <p>Procesos Legales</p>
            <h2>Nuestros principales procesos legales</h2>
        </div>
        <div class="row">
            <!-- <div class="col-lg-4 col-md-6">
                <div class="process-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" viewBox="0 0 16 16" class="process-icon">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                      </svg> 
                    <h3 class="process-title">Denuncia</h3>
                    <p class="process-description">
                        Asesoría para presentar denuncias en distintos ámbitos legales.
                    </p>
                    <a routerLink="/denuncia" class="process-btn">Empieza tu proceso con nosotros</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="process-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 576 512" class="process-icon" fill="currentColor" >
                        <path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-19.3c-2.7 1.1-5.4 2-8.2 2.7l-60.1 15c-3 .7-6 1.2-9 1.4c-.9 .1-1.8 .2-2.7 .2l-64 0c-6.1 0-11.6-3.4-14.3-8.8l-8.8-17.7c-1.7-3.4-5.1-5.5-8.8-5.5s-7.2 2.1-8.8 5.5l-8.8 17.7c-2.9 5.9-9.2 9.4-15.7 8.8s-12.1-5.1-13.9-11.3L144 381l-9.8 32.8c-6.1 20.3-24.8 34.2-46 34.2L80 448c-8.8 0-16-7.2-16-16s7.2-16 16-16l8.2 0c7.1 0 13.3-4.6 15.3-11.4l14.9-49.5c3.4-11.3 13.8-19.1 25.6-19.1s22.2 7.8 25.6 19.1l11.6 38.6c7.4-6.2 16.8-9.7 26.8-9.7c15.9 0 30.4 9 37.5 23.2l4.4 8.8 8.9 0c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7L384 203.6l0-43.6-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM549.8 139.7c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM311.9 321c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L512.1 262.7l-71-71L311.9 321z"/>
                    </svg> 
                    <h3 class="process-title">Demanda</h3>
                    <p class="process-description">
                        Representación y gestión en demandas judiciales.
                    </p>
                    <a routerLink="/demanda" class="process-btn">Empieza tu proceso con nosotros</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="process-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
                    class="process-icon" fill="currentColor" width="70" height="70">
                        <path d="M318.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-120 120c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l4-4L325.4 293.4l-4 4c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l120-120c12.5-12.5 12.5-32.8 0-45.3l-16-16c-12.5-12.5-32.8-12.5-45.3 0l-4 4L330.6 74.6l4-4c12.5-12.5 12.5-32.8 0-45.3l-16-16zm-152 288c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l48 48c12.5 12.5 32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-1.4-1.4L272 285.3 226.7 240 168 298.7l-1.4-1.4z"/>
                    </svg>
                    <h3 class="process-title">Sentencia</h3>
                    <p class="process-description">
                        Acompañamiento y asesoría tras la obtención de una sentencia judicial.
                    </p>
                    <a routerLink="/sentencia" class="process-btn">Empieza tu proceso con nosotros</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="process-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="process-icon" fill="currentColor" width="70" height="70">
                        <path d="M384 32l128 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L398.4 96c-5.2 25.8-22.9 47.1-46.4 57.3L352 448l160 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l160 0 0-294.7c-23.5-10.3-41.2-31.6-46.4-57.3L128 96c-17.7 0-32-14.3-32-32s14.3-32 32-32l128 0c14.6-19.4 37.8-32 64-32s49.4 12.6 64 32zm55.6 288l144.9 0L512 195.8 439.6 320zM512 416c-62.9 0-115.2-34-126-78.9c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C627.2 382 574.9 416 512 416zM126.8 195.8L54.4 320l144.9 0L126.8 195.8zM.9 337.1c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C242 382 189.7 416 126.8 416S11.7 382 .9 337.1z"/></svg> 
                    <h3 class="process-title">Apelación</h3>
                    <p class="process-description">
                        Gestión de procesos de apelación ante tribunales superiores.
                    </p>
                    <a href="Apelacion.html" class="process-btn">Empieza tu proceso con nosotros</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="process-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="process-icon" fill="currentColor" width="70" height="70">
                        <path d="M466.5 83.7l-192-80a48.2 48.2 0 0 0 -36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z"/></svg> 
                    <h3 class="process-title">Ejecución de Garantías</h3>
                    <p class="process-description">
                        Ejecución de garantías para asegurar el cumplimiento de obligaciones legales.
                    </p>
                    <a href="EjecucionGarantias.html" class="process-btn">Empieza tu proceso con nosotros</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="process-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="process-icon" fill="currentColor" width="70" height="70">
                        <path d="M96.1 454.4c0 6.3 1.9 12.5 5.4 17.7l17.1 25.7a32 32 0 0 0 26.6 14.3h61.7a32 32 0 0 0 26.6-14.3l17.1-25.7a32 32 0 0 0 5.4-17.7l0-38.4H96l.1 38.4zM0 176c0 44.4 16.5 84.9 43.6 115.8 16.5 18.9 42.4 58.2 52.2 91.5 0 .3 .1 .5 .1 .8h160.2c0-.3 .1-.5 .1-.8 9.9-33.2 35.7-72.6 52.2-91.5C335.6 260.9 352 220.4 352 176 352 78.6 272.9-.3 175.5 0 73.4 .3 0 83 0 176zm176-80c-44.1 0-80 35.9-80 80 0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.8 50.2-112 112-112 8.8 0 16 7.2 16 16s-7.2 16-16 16z"/></svg>
                    <h3 class="process-title">Asesoría Jurídica</h3>
                    <p class="process-description">
                        Consultoría y orientación legal en diversas áreas del derecho.
                    </p>
                    <a href="AsesoriaJuridica.html" class="process-btn">Empieza tu proceso con nosotros</a>
                </div>
            </div> -->

            @if (servicios.length > 0) {
                <div class="row">
                    @for (servicio of servicios; track servicio.id) {
                        <div class="col-lg-4 col-md-6">
                            <div class="process-item">
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="process-icon" fill="currentColor" width="70" height="70">
                                    <path d="{{ servicio.icono }}"></path>
                                </svg> -->
                                <h3 class="process-title">{{ servicio.nombre }}</h3>
                                <p class="process-description">
                                    {{ servicio.descripcion }}
                                </p>
                                <a [routerLink]="['/consultas', servicio.id]" class="process-btn">Empieza tu proceso con nosotros</a>
                            </div>
                        </div>
                    }
                    
                </div>
            }@else {
                <div class="col-12">
                    <h3 class="text-center">No hay servicios disponibles por ahora, vuelve pronto.</h3>
                </div>
            }
            
        </div>
    </div>
</div>
       

<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="feature-img">
                    <img src="business-man.png" alt="Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-header">
                    <p>Nuestras características</p>
                    <h2>¿Porque elegirnos?</h2>
                </div>
                <p class="justified-text">
                    En Asesores Legales (JNS), nos dedicamos a brindar soluciones legales integrales y personalizadas a nuestros clientes. Con un equipo de abogados altamente capacitados y con amplia experiencia en diversas ramas del derecho, estamos comprometidos a ofrecer un servicio de excelencia, basado en la ética, la transparencia y el compromiso con los resultados. Nuestra misión es proteger tus intereses y derechos, proporcionando asesoría legal de calidad, eficiente y accesible. Confía en Asesores Legales (JNS) para recibir el apoyo y la representación legal que necesitas en cada paso del camino. ¡Estamos aquí para ayudarte!
                </p>
                <div class="row counters">
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#0796fe">
                            <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/>
                        </svg>

                        <div class="counters-text">
                            <h2 data-toggle="counter-up">50</h2>
                            <p>Nuestros Abogados</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" fill="#0796fe">
                            <path d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"/></svg>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">500</h2>
                            <p>Clientes Satisfechos</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#0796fe">
                            <path d="M173.9 439.4l-166.4-166.4c-10-10-10-26.2 0-36.2l36.2-36.2c10-10 26.2-10 36.2 0L192 312.7 432.1 72.6c10-10 26.2-10 36.2 0l36.2 36.2c10 10 10 26.2 0 36.2l-294.4 294.4c-10 10-26.2 10-36.2 0z"/></svg>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">700</h2>
                            <p>Casos Resueltos</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#0796fe">
                            <path d="M320 336c0 8.8-7.2 16-16 16h-96c-8.8 0-16-7.2-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"/></svg>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">150</h2>
                            <p>Casos en Curso</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Testimonial Start -->
<div class="testimonial">
    <div class="container">
        <div class="section-header">
            <p>Testimonios</p>
            <h2>Opiniones de casos resueltos</h2>
        </div>

        <div class=" testimonials-carousel">
            <div class="testimonial-item">
                <img src="testimonial-1.jpg" alt="Image">
                <p class="justified-text">
                    "Estoy muy agradecido con el equipo de abogados por su apoyo durante mi caso de despido injustificado. No solo lograron que me indemnizaran adecuadamente, sino que también me acompañaron en cada paso del proceso, brindándome seguridad y tranquilidad. ¡Recomiendo sus servicios al 100%!"
                </p>
                <h2>— Juan Pérez</h2>
                <h3>Caso de Derecho Laboral</h3>
            </div>
            <div class="testimonial-item">
                <img src="testimonial-2.jpg" alt="Image">
                <p class="justified-text">
                    "Gracias a la firma, pude obtener la custodia compartida de mis hijos de manera justa. Su empatía y profesionalismo fueron claves para enfrentar un momento tan difícil en mi vida. Siempre estuvieron disponibles para resolver mis dudas y brindarme apoyo emocional y legal."
                </p>
                <h2>— María González</h2>
                <h3>Caso de Derecho de Familia</h3>
            </div>
            <div class="testimonial-item">
                <img src="testimonial-3.jpg" alt="Image">
                <p class="justified-text">
                    "Contratamos a esta firma para asesorarnos en la fusión de nuestra empresa. Su conocimiento profundo del derecho corporativo y su capacidad para manejar situaciones complejas fueron impresionantes. Gracias a su ayuda, la transición fue suave y exitosa."
                </p>
                <h2>— Carlos Ramírez, CEO de TechCorp</h2>
                <h3>Caso de Derecho Corporativo</h3>
            </div>
            <div class="testimonial-item">
                <img src="testimonial-4.jpg" alt="Image">
                <p class="justified-text">
                    "Fui acusado injustamente de un delito y estaba desesperado. Los abogados de esta firma me defendieron con tenacidad y profesionalismo, demostrando mi inocencia. Estoy eternamente agradecido por su dedicación y habilidades legales excepcionales."
                </p>
                <h2>— Ana López</h2>
                <h3>Caso de Derecho Penal</h3>
            </div>
        </div>
    </div>
</div>

