<div class="page-breadcrumb">
  <div class="row">
      <div class="col-12 d-flex no-block align-items-center">

          <a routerLink="/workspace/blogs" class="btn-link">
              <div class="d-flex align-items-center ">
                  <mat-icon>chevron_left</mat-icon>
                  regresar
              </div>

          </a>
          <div class=" text-right" style="margin-left: auto;">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/workspace/dashboard">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Blog</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="edit()" enctype="multipart/form-data">
  <mat-card appearance="outlined">
    <mat-card-header>
      <h5 mat-dialog-title>Editar Post</h5>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12 col-xl-8">

          <div class="mb-2">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" formControlName="titulo">
          </div>

          <div class="mb-2">
            <label for="categoria">Categoría</label>
            <input type="text" id="categoria" formControlName="categoria">
          </div>
          

          <div class="mb-2">
            <label for="contenido">Contenido</label>
            <editor
            id="contenido"
              apiKey="{{apikeytinymce}}"
              formControlName="contenido"
              [init]="{
                plugins: 'lists link image table code help wordcount', 
                menubar: false,
                min_height: 150
                }"
            >
            </editor>
          </div>
          

          <div class="w-100">
            <label for="resumen">Resumen</label>
            <editor
            id="resumen"
            apiKey="{{apikeytinymce}}"
            formControlName="resumen"
            [init]="{
              plugins: 'lists link image table code help wordcount', 
              menubar: false,
              
              }"
          ></editor>
          </div>

          <mat-checkbox formControlName="publicado">Publicado</mat-checkbox>
        </div>
        <div class="col-12 col-xl-4">
          <p class="text-center mb-0">Imagen actual</p>
          <div class="d-flex justify-content-center w-100 pb-2">
            <img
              [src]="post?.imagen"
              alt="{{ post?.titulo }}"
              class="img-thumbnail"
            />
          </div>

          <div class="w-100">
            <p class="text-center mb-0">Editar imagen</p>
            <input
              id="image"
              type="file"
              (change)="onFileChange($event)"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button matDialogClose>Cancelar</button>
      <button mat-button type="submit" [disabled]="form.invalid">
        Actualizar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
