.statistic-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media(max-width:768px){
    .statistic-section{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width:468px){
    .statistic-section{
        grid-template-columns: repeat(1, 1fr);
    }
}

mat-card-subtitle{
    font-weight: 400;
}