<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Nuestra Oficina Principal</h2>
                            <p>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
                                Trujillo: Calle Bolivia 329 – Segundo Piso Urb. El Recreo
                            </p>
                            <p>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
                                Lima: Av. San Borja Norte Nro. 1010 - San Borja
                            </p>
                            <p>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
                                +51 944564832
                            </p>
                            <p>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                                jnsasesoreslegalesgmail.com</p>
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Enlaces Rápidos</h2>
                            <a routerLink="/contact">
                                <div class="d-flex align-items-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
                                    Contacto
                                </div>
                            </a>
                            <a routerLink="/blog">
                                <div class="d-flex align-items-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
                                    Blog
                                </div>
                                
                            </a>
                            <a href="Experiencia.html">
                                <div class="d-flex align-items-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
                                    Experiencia
                                </div>
                                
                            </a>
                            <a routerLink="/services">
                                <div class="d-flex align-items-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
                                    Servicios
                                </div>
                                
                            </a>
                            <a href="DerechoLaboral.html">
                                <div class="d-flex align-items-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
                                    Derechos laborales
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>Boletín Jurídico</h2>
                    <p style="text-align: justify;">
                        Suscríbete a nuestro boletín jurídico para recibir las últimas actualizaciones legales y
                        asesoría profesional. Mantente informado sobre cambios en leyes.
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Tu correo electrónico">
                        <button class="btn">Suscribirse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <p>&copy; <a href="#">JNS Asesores</a>, Todos los derechos reservados.</p>
                
            </div>
        </div>
    </div>
</div>