<h2 mat-dialog-title>{{consulta?.servicio?.nombre}}</h2>
<mat-dialog-content>
  <p>Detalles: {{ consulta?.detalles }}</p>
  <p>Hechos: {{ consulta?.hechos }}.</p>
  <p>Cliente: {{ consulta?.nombreCompleto }}.</p>

    <p>*Asigna un abogado disponible para su revisión.</p>
  <select class="form-select" [(ngModel)]="selectedAbogadoId" [disabled]="isDateTimeBeforeToday(consulta?.fechaHora)">
    <option selected disabled hidden>Selecciona un abogado</option>
    @for(abogado of abogadosDisponibles; track abogado.id){
        <option value="{{abogado.id}}">{{abogado.nombre}} {{abogado.apellido}} - {{abogado.especialidad}} </option>
    }
  </select>
  @if (isDateTimeBeforeToday(consulta?.fechaHora)) {
    <p class="text-danger">La fecha de la consulta es anterior a la fecha actual.</p>
  }
  

  @if(abogadosDisponibles.length == 0){
    <p class="text-danger">No hay abogados disponibles.</p>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="asignarAbogado()" [disabled]="!selectedAbogadoId">Asignar</button>
</mat-dialog-actions>
