<!-- Contact Start info-->
<div class="contacto">
    <div class="hero-section">
        <h1>Contáctenos</h1>
        <p>Ofrecemos soluciones eficientes y asesoramiento adaptado al cliente.</p>
    </div>

    <div class="contact-container">
        <h2>Resuelva sus consultas online de forma fácil y rápida.</h2>
        <p>Haga uso de los distintos medios de comunicación que dispone para Ud.</p>
        
        <div class="contact-methods">
            <div class="contact-method">
                
                <mat-icon >phone</mat-icon>
                <p>+51913778495</p>
                <p>Central Telefónica</p>
            </div>
            
            <div class="contact-method">
                <mat-icon >mail</mat-icon>
                <p>jnsasesoreslegalesgmail.com</p>
                <p>Consulta 24 Horas</p>
            </div>
            
            <div class="contact-method">
                <mat-icon >location_on</mat-icon>
                <p>Trujillo: Calle Bolivia 329 – Segundo Piso Urb. El Recreo</p>
                <p>Lima: Calle Lugo 105, distrito de San Luis</p>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="text-center pb-2">
        <h5 class="mb-4">Contacto para cualquier consulta</h5>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 control-group">
                            <input type="text" class="form-control p-4" id="name" placeholder="Nombre y Apellidos" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="col-sm-6 control-group">
                            <input type="email" class="form-control p-4" id="email" placeholder="Correo Electronico" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control p-4" id="subject" placeholder="Tema" required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control p-4" rows="6" id="message" placeholder="Mensaje" required="required" data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn_e_m btn-block" type="submit" id="sendMessageButton">Enviar Mensaje</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6" style="min-height: 400px;">
            <div class="position-relative h-100 rounded overflow-hidden">
                
                <iframe style="width: 100%; height: 100%; object-fit: cover;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.870896631002!2d-79.03229509365353!3d-8.119745915849206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d776c9a620b%3A0xdaa0f19b290b3138!2sBolivia%20329%2C%20Trujillo%2013008!5e0!3m2!1ses-419!2spe!4v1732422588007!5m2!1ses-419!2spe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End info -->