<div>
    <div class="w-100 bg-dark text-white p-4 d-flex align-items-center">
        <a routerLink="/home" class="text-white"><mat-icon fontIcon="arrow_back"></mat-icon></a>

        <p class="fs-4 text-center mb-0 w-100">Proceso de {{area?.nombre}}</p>
    </div>

    <section>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Formulario de {{area?.nombre}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup]="consultaForm" class="pt-2">
                    <!-- fechas -->
                    <div class="row mb-2">
                        <span class="fs-6 mb-2">Fecha y hora de la cita</span>
                        <div class="mb-2">
                            <input matInput type="datetime-local" class="form-control p-3 " formControlName="fechaHora" [min]="minDate">                      
                        </div>

                    </div>
                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Servicio:</mat-label>
                            <mat-select formControlName="servicio" [disabled]="serviciosDisponibles.length == 0">
                                @for (servicio of serviciosDisponibles; track servicio.id) {
                                <mat-option [value]="servicio.id">{{
                                    servicio.nombre
                                    }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        @if (serviciosDisponibles.length == 0) {
                            <small class="text-danger">No hay servicios disponibles para esta área</small>
                        }
                    </div>

                    <!-- detalles -->
                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Detalles</mat-label>
                            <textarea matInput formControlName="detalles"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre completo</mat-label>
                            <input matInput formControlName="nombreCompleto" />
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput formControlName="email" />
                        </mat-form-field>
                    </div>

                    <!-- <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Lugar de la cita</mat-label>
                            <input matInput formControlName="lugarCita" />
                        </mat-form-field>
                    </div> -->

                    <div class="w-100 mb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Descripción de los Hechos</mat-label>
                            <textarea matInput formControlName="hechos"></textarea>
                        </mat-form-field>
                    </div>

                    <button mat-button type="submit" [disabled]="consultaForm.invalid">Procesar</button>
                    <button mat-button routerLink="/">Cancelar</button> 
                </form>
            </mat-card-content>
        </mat-card>
    </section>
</div>