<div>
    <div class="w-100 bg-dark p-4">
        <h1 class="text-white fs-4 text-center">Proceso de Denuncia</h1>
    </div>

    <section>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Formulario de Apelación</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup]="denunciaForm" class="pt-2">
                    <!-- fechas -->
                    <div class="row mb-2">
                        <span class="fs-6 mb-2">Fecha y hora de la cita</span>
                        <div class="col-12 col-xl-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha" />
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-xl-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Hora</mat-label>
                                <input type="time" matInput formControlName="hora"  />
                                
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- tipo demanda -->

                    <div class="w-100">
                        <!-- <span class="fs-6 mb-2">Tipo de demanda</span> -->
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de Apelación</mat-label>
                            <mat-select formControlName="tipo">
                                @for (tipo of tipo_apelaciones; track tipo) {
                                <mat-option [value]="tipo.value">{{
                                    tipo.viewValue
                                    }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- detalles -->
                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Detalles de la Apelación</mat-label>
                            <textarea matInput formControlName="detalles"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Demandante</mat-label>
                            <input matInput formControlName="demandante" />
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput formControlName="correo" />
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                        <mat-form-field appearance="outline">
                            <mat-label>Lugar de la cita</mat-label>
                            <input matInput formControlName="lugar" />
                        </mat-form-field>
                    </div>

                    <div class="w-100 mb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Descripción de los Hechos</mat-label>
                            <textarea matInput formControlName="hechos"></textarea>
                        </mat-form-field>
                    </div>

                    <button mat-button type="submit">Procesar demanda</button>
                </form>
            </mat-card-content>
        </mat-card>
    </section>
</div>