<main class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
    <a routerLink="/" class="d-flex align-items-center text-white text-decoration-none gap-1">
        <img src="logo1.png" alt="img" height="29">
        <!-- <span class="fs-6">AsesoresLegales</span> -->
    </a>
    <hr>
    <ul class="nav nav-pills flex-column gap-1 mb-auto">
        @for (item of sidebarItems; track $index) {
            @if (!item.children) {
                <a routerLink="{{item.url}}" class="sidenav-link" routerLinkActive="active-link">
                    <mat-icon matListItemIcon class="material-icons-outlined">{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                </a>
            }
            
            @if (item.children) {


                <a class="sidenav-link" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false" aria-controls="home-collapse">
                    <mat-icon matListItemIcon class="material-icons-outlined">{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                </a>
                <div class="collapse show" id="home-collapse" >
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        @for (c of item.children; track $index) {
                            <li>
                                <a class="sidenav-link" routerLink="{{c.url}}" routerLinkActive="active-link-child">
                                    <div class="d-flex align-items-center gap-2">
                                        <span >&bull;</span> {{c.title}}
                                    </div>
                                </a>
                            </li>
                        }                 
                    </ul>
                </div>
            }
        }
    </ul>
    <a class="sidenav-link" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span>Cerrar Sesión</span>
    </a>
</main>