<!-- <div class="card">
    
<div class="card-body">
    <div class="text-center">
        <h1 class="fs-4">Progreso de su caso</h1>
    </div>
    <div class="alert alert-warning" role="alert">
        Hola <b>{{ demandante }}</b>, su caso actualmente se encuentra en el estado: <b>{{ demanda?.estado}}</b>. A continuación, puede observar el progreso detallado.
    </div>

    <div class="p-2" style="background-color: #F2F8F6;">
        <p class="fw-bold">Contacto</p>
        <p>Si necesitas más información o tienes alguna duda, no dudes en ponerte en contacto con nosotros.</p>
        <div class="d-flex align-items-center gap-1 mb-1">
            <mat-icon>phone</mat-icon>
            Télefono de soporte: <b>+51 123 456 789</b> 
        </div>
        <div class="d-flex align-items-center gap-1">
            <mat-icon>mail</mat-icon>
            Correo electrónico: <b>asesoresjns</b>
        </div>
    </div>
</div>
<div class="card-footer">
    <button mat-button >Aceptar</button>
</div>
</div> -->