<a class="nav-item nav-link btn-login" [matMenuTriggerFor]="beforeMenu">
    {{ fullname }}
</a>
<mat-menu #beforeMenu="matMenu" xPosition="before">
    <div class="px-2">{{ email }}</div>
    <hr>
    @if (role == 'Cliente') {
        <button mat-menu-item routerLink="/procesos">Mis citas</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    }@else if (role == "Admin") {
        <button mat-menu-item routerLink="/admin">Dashboard</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    }@else if (role == "Abogado") {
        <button mat-menu-item routerLink="/abogado">Dashboard</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    }
</mat-menu>